
@{
    ViewBag.Title = "Admin";
    @ViewBag.Banner = "../Content/Images/phonesBanner.jpg";
}

<h2>Admin</h2>

<p><a onclick="location.href='@Url.Action("Index", "WillCall")'" class="btn btn-primary btn-lg">Will Call </a></p>

<p><a onclick="location.href='@Url.Action("Index", "Games")'" class="btn btn-primary btn-lg">Games</a></p>

@*<p><a onclick="location.href='@Url.Action("Index", "Sessions")'" class="btn btn-primary btn-lg">Sessions </a></p> *@