@model EscapeRoom.Models.Game


@{

}


<div class="showtitle">
    <h1>@Model.Title</h1>
    <p><a onclick="location.href='@Url.Action("Index", "Calendar", new { showName = HttpUtility.UrlEncode(Model.Title) })'" class="btn btn-primary btn-lg">See Dates &raquo;</a></p>
</div>

<div class="row">
    <div class="col-sm-3">
        <img src="@Model.LongPic" />
    </div>
    <div class="col-lg-8 description">        
        <p>
            running now through July 2017<br>
            Prices from $25 to $50<br>
        </p>
        <p>@Model.Description</p>
    </div>

</div>
