body {
    background-color: #F2F4F4;
}
.body-content{
    width:80%;
}
.jumbotron {
    text-align:center;
    background-color: transparent;
    margin-bottom: 1em;
}
.showcase {
    text-align:center;
}

.btn-primary {
    background-color: black;    
}
.btn-default {
    background-color:black;
    color: white;
}

/*--------Home Page--------------*/
.leaderboard {
    margin:2em;
    background-color:black;
    border-radius:10%;
    color: orange;
}

.title{
    text-align: center;
}

.explanation {
    text-align: center;
    border-top-color: gray;
    border-top-style: solid;
}


