
@{
    ViewBag.Title = "SoldOut";
    ViewBag.Banner = "../Content/Images/defendersBannerToScale.jpg";
}

<h2>FOILED AGAIN!</h2>

<p>There are no tickets available for this game.</p>

@Html.ActionLink("Back to the Calendar!", "Index", "Calendar")

