@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chicago Unlocked</h1>
    <p class="lead">Chicago's Premiere company for Escape Rooms. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec sodales urna. Nulla a lacus maximus, mattis odio non, dictum arcu. Nunc dignissim mattis tempus. Phasellus ornare tempus sagittis. </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">See All Dates &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-6 showcase">
        <img src="~/Content/Images/engWall375x200.jpg" />
        <h2>The Last Defender</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec sodales urna. Nulla a lacus maximus, mattis odio non, dictum arcu. Nunc dignissim mattis tempus. Phasellus ornare tempus sagittis.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Defend! &raquo;</a></p>
    </div>

    <div class="col-md-6 showcase">
        <img src="~/Content/Images/engWall375x200.jpg" />
        <h2>SubSurface</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec sodales urna. Nulla a lacus maximus, mattis odio non, dictum arcu. Nunc dignissim mattis tempus. Phasellus ornare tempus sagittis. </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Dive! &raquo;</a></p>
    </div>
</div>