@model EscapeRoom.Models.CalendarSearchModel

@{
    ViewBag.Title = "index";
    ViewBag.Banner = "../Content/Images/switchBoardFullToScale.jpg";
    List<int> list = new List<int>();
    for(var i = 0; i < 20; i++)
    {
        list.Add(i);
    }
}

<div class="row">
    <div class="col-sm-3">
        <h3>Search </h3>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <label for="Game">Games</label> <br />
            @Html.DropDownListFor(m => m.game, new SelectList(Model.games), "All")

            <label for="minInventory">Minimum Number of Players</label> <br />
            @Html.DropDownListFor(m => m.minInventory, new SelectList(list), "# of Tickets" )
            

            <input type = "submit" onclick="searchButton(); return false;" value = "search" class="btn btn-primary" />
        }
    </div>

    <div class="col-sm-9">
        <h2>Calendar</h2>
        <button id="calView">change to list</button>
        <div id="calendar"></div>
    </div>
</div>

@section Scripts{
    <script>
        function makeCal() {
            
            var calView = "month";
            var url = "/calendar/data?showName=" + $('#game').val() + "&minInventory=" + $('#minInventory').val(); 

            $.getJSON(url, function (data) {
                $("#calendar").fullCalendar({
                    events: data,
                    eventRender: function (event, element) {
                        element.find('.fc-title').append("(" + event.inventory + ")");
                    }
                });
            });


            $("#calView").on("click", function () {
                if (calView === "listMonth") {
                    $("#calendar").fullCalendar("changeView", "month");
                    calView = "month";
                }
                else {
                    $("#calendar").fullCalendar("changeView", "listMonth");
                    calView = "listMonth";
                }
            });
            

        }

        function searchButton() {
            $("#calendar").fullCalendar("destroy");
            makeCal();
        }

        $(document).ready(makeCal());
    </script>
}
