@model EscapeRoom.Models.WillCallModel

@{
    ViewBag.Title = "WillCall";
    string noInfo = "No Player information available";
    ViewBag.Banner = "~/Content/Images/phonesBanner.jpg";
}

<h2>WillCall</h2>
@if (User.IsInRole("Administrator"))
{

    using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <label for="Selection">Choose Session for Report</label> <br />
        @Html.DropDownListFor(m => m.selection, new SelectList(Model.stringSessions), "")

        <Input type="submit" value="search" class="btn btn-primary" />
    }

    if (Model.players != null)
    {
        int i = 1;
        foreach (string item in Model.players)
        {
            <p>
                PLAYER @i.
                @if (@item == null || @item == "    ")
                {
                    @noInfo
                }
                else
                {
                    @item
                }
            </p>
            i++;
        }
    }
}
else{
    <p>You are not currently signed in as an administrator. This area is restricted.</p>
}