
    @if (User.Identity.IsAuthenticated)
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Log Out", "logout", "Account")</li>
        </ul>
        <p>Welcome, @User.Identity.Name</p>
    }
    else
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Register", "Register", "Account")</li>
            <li>@Html.ActionLink("Login", "login", "Account")</li>
        </ul>
    }
    
