<ul class="nav navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <span>Welcome, @User.Identity.Name</span>
        <span>@Html.ActionLink("Log Out", "logout", "Account")</span>
    }
    else
    {
        <li>@Html.ActionLink("Login", "login", "Account")</li>
    }
</ul>
